@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: 'Android';
  src: url('fontes/idroid.otf') format('opentype');
  font-weight: normal;
}

:root {
  --cor0: #ebe5c5;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;

  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque: 'Bebas Neue';
  --fonte-android: 'Android';
}

* {
  margin: 0px;
  padding: 0px;
}

/*corpo*/

body {
  background-color: var(--cor0);
  font-family: var(--fonte-padrao);
}

a.externo::after {
  content: '\00A0\1F517';
}

/*Header*/

header {
  text-align: center;
  min-height: 150px;
  background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
  padding-top: 40px;
}

/*texto*/

header h1 {
  color: var(--cor0);
  font-family: var(--fonte-destaque);
  font-size: 3em;
  font-weight: normal;
  margin-bottom: 20px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

header p {
  color: var(--cor0);
  font-size: 1.2em;
  max-width: 600px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50px;
  margin: auto;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

/*Navegação*/

nav {
  padding: 10px;
  background-color: #063d1e;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.418);
}

/*links*/

nav a {
  text-decoration: none;
  color: var(--cor1);
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  transition-duration: 0.5s;
}

nav a:hover {
  background-color: var(--cor3);
  color: var(--cor5);
}

/*Parte principal*/

main {
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*texto*/

main h1 {
  font-family: var(--fonte-android);
  color: var(--cor5);
  font-weight: normal;
  font-size: 1.8em;
}

main h2 {
  font-family: var(--fonte-android);
  color: var(--cor4);
  font-size: 1.2em;
  font-weight: normal;
  background-image: linear-gradient(to right, var(--cor1), transparent);
  text-indent: 8px;
}

main p {
  margin: 15px 0px;
  text-align: justify;
  font-size: 1em;
  text-indent: 30px;
  line-height: 2em;
}

main strong {
  color: var(--cor4);
  font-weight: bolder;
}

/*links*/

main a {
  text-decoration: none;
  color: var(--cor5);
  background-color: var(--cor1);
  font-weight: bold;
  padding: 2px 6px;
}

main a:hover {
  text-decoration: underline;
  color: var(--cor4);
}

/*imagens*/

main img {
  width: 100%;
}

main img.pqn {
  max-width: 300px;
  display: block;
  margin: auto;
}

/*video*/

div.video {
  background-color: var(--cor5);
  margin: 0px -20px 30px -20px;
  padding: 20px;
  padding-bottom: 58%;
  position: relative;
}

div.video iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

aside {
  background-color: var(--cor1);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside h3 {
  background-color: var(--cor4);
  color: white;
  padding: 10px;
  margin: -10px -10px 0px -10px;
  border-radius: 10px 10px 0px 0px;
}

aside ul {
  list-style-type: '\2714\00A0\00A0';
  list-style-position: inside;
  columns: 2;
}
/*Rodapé*/

footer {
  color: white;
  background-color: var(--cor5);
  text-align: center;
  font-size: 0.8em;
  padding: 5px;
}

footer a {
  background-color: transparent;
  color: white;
  font-weight: bolder;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: var(--cor1);
}
